@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.top-heading{
    text-align: center;
    color: #153677;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    /* background: #ff5945; */
    background: #153677;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    /* background-image: url(images\unchecked.png);
    background-position: center; 
    background-size: cover;  */
    border: 1px solid #153677;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #153677;
    text-decoration: line-through;
}

ul li.checked::before{
    /* background-image: url(images\Icon.png); */
    background: #153677;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
    cursor: pointer;
}


.footer-text p{
    color: #153677;
    text-align: center;
    margin-top: 100px;
}

.footer-text p a{
    text-decoration: none;
}

@media only screen and (max-width: 400px) {

.todo-app{
    padding: 40px 10px 30px;
}

.row{
    padding-left: 10px;
}

input{
    padding: 5px;
}

button{
    padding: 15px 30px;
}
}